<% include partials/header %>


<h1>hello  this is the show page</h1>

<p><%= campground.name %></p>

<img src="<%= campground.image %>" alt="no image">
<p><%= campground.description %></p>

<% include partials/footer %>